In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('./data/etth1_copy.csv')
df

                      date         OT  hour  dayofweek        data
0      2016-07-01 00:00:00  30.531000     0          4  2016-07-01
1      2016-07-01 01:00:00  27.787001     1          4  2016-07-01
2      2016-07-01 02:00:00  27.787001     2          4  2016-07-01
3      2016-07-01 03:00:00  25.044001     3          4  2016-07-01
4      2016-07-01 04:00:00  21.948000     4          4  2016-07-01
...                    ...        ...   ...        ...         ...
17415  2018-06-26 15:00:00  10.904000    15          1  2018-06-26
17416  2018-06-26 16:00:00  11.044000    16          1  2018-06-26
17417  2018-06-26 17:00:00  10.271000    17          1  2018-06-26
17418  2018-06-26 18:00:00   9.778000    18          1  2018-06-26
17419  2018-06-26 19:00:00   9.567000    19          1  2018-06-26

[17420 rows x 5 columns]

In [4]:
df['date'].min()

'2016-07-01 00:00:00'

In [6]:
df.date.max()

'2018-06-26 19:00:00'